:root {
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #1393d5;
  font-family: "Arial Bold", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, a {
  font-family: "courier", serif;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}
.container__content {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
}
.container:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, transparent, #1393d5 50%);
}

.container__content {
  color: #ffffff;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
.container__content header h1 {
  display: block;
  font-size: 32px;
  padding: .15em .35em .05em;
  line-height: 40px;
  height: 40px;
  background: #fff;
  box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  float: left;
  margin-bottom: .5em;
}
.container__content header h1:hover {
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.2);
  top: 2px;
  left: -2px;
}
.container__content header h1 a {
  text-decoration: none;
}
.container__content header h1 span.logo--1 {
  color: #1393d5;
}
.container__content header h1 span.logo--2 {
  color: transparent;
  text-transform: -999999999px;
  letter-spacing: -100px;
  width: 0;
}
.container__content header h1 span.logo--2:after {
  content: 'stream';
  color: #000;
  letter-spacing: 1px;
  width: auto;
}
.container__content header h1:hover span.logo--2:after {
  content: 'git';
  color: #000;
}
.container__content section p {
  line-height: 24px;
  font-weight: 500;
  font-family: "courier", serif;
}
.container__content footer .btn {
  margin-top: 1em;
  text-transform: uppercase;
}

.container__background #instafeed {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.container__background img {
  display: block;
  float: left;
  width: 20%;
  opacity: 0;
  background: red;
}
.container__background img.image {
  opacity: 1;
  background-color: transparent;
}
.container__background img.image:hover {
  padding: .5em;
  width: calc(20% - 1em);
}

.btn {
  padding: .75em 1.2em;
  min-width: 240px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.btn--cat {
  box-shadow: inset 0 0 0 2px currentColor;
  background: transparent;
  color: currentColor;
  float: right;
}
.btn--cat:hover {
  background: #ffffff;
  color: #1393d5;
}

.clearfix:after, .cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix, .cf {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix, * html .cf {
  height: 1%;
}

.clearfix, .cf {
  display: block;
}

/* close commented backslash hack */
.remove, .container.step-2:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}

/*---------------------------------
    EFFECTS 
    ---------------------------------*/
.animated, .container__background img.image:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada, .container__background img.image:hover {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
