
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: #1393d5;
}

.container {
  width: 100%;
  height: 100%;
  float: left;

  img{
    display: block;
    float: left;
    width: calc(20% - 1em);
    
    padding: .5em;

    opacity: 0;
    background: red;

    &.image{
      @extend .animated;
      @extend .tada;
      opacity: 1;
      background-color: transparent;
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada {
  animation-name: tada;
}




@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
